<div class="list-group-item list-group-item-action">
	<div class="d-flex w-100 justify-content-between">
		<div>
			<h5 class="mb-1" style="display: inline-block;">{{projectName}}</h5>
			<small class="text-muted">project started {{format_date dateCreated}}</small>
		</div>
	</div>
	<p class="mb-2">{{address}}, {{city}} {{zip}}, {{state}} </p>
	<div id="project-links-div">
		<a href="/project/{{id}}" id="view" class="d-inline py-2">View Project</a>
		<a href="" id="delete-{{id}}" data-projectid="{{id}}"
			style="color: red; text-decoration: underline; padding-left: 10px;"
			class="d-inline p-2 text-red delete-p-class">Delete</a>
	</div>
</div>