<link rel="stylesheet" href="./../../../css/style.css"/>

 <!-- Container that holds values of dynamically rendered client info -->
<div class="container">
  <div class="row">
    <div class="card mb-3 col-lg-4 col-sm-12 col-12" style="width: 18rem;">
       <!-- Client personal information -->
      <div class="card-body">
        <h5 class="card-title">{{client.firstName}} {{client.lastName}}</h5>
        <small class="text-muted">ID: {{pad client.id}}</small><br> 
        <small class="text-muted">Client since: {{format_date client.dateCreated}}</small>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Email: <a href="mailto:{{client.email}}">{{client.email}}</a></li>
        <li class="list-group-item">Phone: <a href="tel:{{client.phone}}">{{client.phone}}</a></li>
        <li class="list-group-item">
          Address: 
          <div class="card bg-light">
            <div class="card-body">
              <small>{{client.address}}</small><br>
              <small>{{client.city}} {{client.zip}}</small><br>
              <small>{{client.state}}, Australia</small>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Edit</a>
         <!-- Button to delete client -->
        <a href="#" class="card-link" id="delete-client" data-client-id="{{client.id}}" >Delete</a>
      </div>
    </div>

 <!-- List of projects connected to client -->
    <div class="col-lg-8 col-sm-12 col-12">
      <div class="list-group">
        {{#each client.projects as |project|}}
        {{> projectCard}}
        {{/each}}

         <!-- Button to add another project to this client -->
        <a href="/project/add/" class="list-group-item list-group-item-action list-group-item-success">
          + Add new Project
        </a>
      </div>
    </div>
  </div>
</div>

 <!-- Script link for clientDelete.js file -->
<script src="/js/clientDelete.js"></script>