<link rel="stylesheet" href="./../../css/style.css" />
<h1>New Project Form</h1>

<!-- Form to add a new client -->
<form class="form-project-add">
	<div class="form-row">
		<div class="form-group col-md-12">
			<!-- Project name input -->
			<label for="formGroupExampleInput">Project Name</label>
			<input type="text" class="form-control" id="input-project-name" placeholder="Project name here..." required />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-4">
			<!-- Project budget input -->
			<label for="input-budget">Project Budget</label>
			<input type="number" class="form-control" id="input-budget" placeholder="$1,000,000" required />
		</div>
		<div class="form-group col-md-4">
			<label for="input-client">Client</label>
			<select id="input-client" class="form-control" required>
				<option disabled selected>Choose...</option>
				<!-- Loop over each object in the clients array -->
				{{#each client as |c|}}
					<option value="{{c.id}}">{{c.firstName}} {{c.lastName}}</option>
				{{/each}}
			</select>
		</div>
		<div class="form-group col-md-4">
			<label for="input-manager">Manager</label>
			<select id="input-manager" class="form-control" required>
				<option disabled selected>Choose...</option>
				<!-- Loop over each object in the managers array -->
				{{#each manager as |m|}}
					<option value="{{m.id}}">{{m.name}}</option>
				{{/each}}
			</select>
		</div>
	</div>

	<!-- Form to add a new project -->
	<div class="form-row">
		<div class="form-group col-md-12">
			<label for="input-address">Address</label>
			<input type="text" class="form-control" id="input-address" placeholder="1234 Main St" required />
		</div>
		<div class="form-group col-md-6">
			<label for="input-city">City</label>
			<input type="text" class="form-control" id="input-city" placeholder="Sydney" required />
		</div>
		<div class="form-group col-md-4">
			<label for="input-state">State</label>
			<select id="input-state" class="form-control" required>
				<!-- Drop down menu for AUS states -->
				<option disabled selected>Choose...</option>
				<option>NSW</option>
				<option>WA</option>
				<option>ACT</option>
				<option>QLD</option>
				<option>SA</option>
				<option>TAS</option>
			</select>
		</div>
		<div class="form-group col-md-2">
			<!-- Zip code input -->
			<label for="input-zip">Zip</label>
			<input type="text" class="form-control" id="input-zip" placeholder="2000" required />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-12">
			<!-- Project details input -->
			<label for="input-description">Project Details</label>
			<textarea type="text" class="form-control" id="input-description" placeholder="Project description here..." required></textarea>
		</div>
	</div>
	<!-- Button to add new project -->
	<button type="submit" class="btn" id="add">Add Project</button>
</form>

<!-- Script link for projectAdd.js file -->
<script src="./../../js/projectAdd.js"></script>